.App {
  text-align: center;
}

.row {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.row div {
  margin: 1rem;
}

h1 {
  width: 30rem;
  margin: 0 auto;
}

header h1{
  text-decoration: none;
  font-family: 'Cinzel', serif;
}

.home-card {
  border-radius: 4.75% / 3.5%;
  width: 336px;
  height: 468px;
}

.promo {
  margin: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


